.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 720px;
    width: 720px;
    
}

